
@{
    ViewBag.Title = "Authtest";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Authtest</h2>

<p>Yes this is authenticated</p>

<p>auth type = @ViewBag.AuthType</p>
<p>is in role  = @ViewBag.IsInRole</p>